<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} {{- if isset .Site.Params "subtitle" -}} - {{ .Site.Params.Subtitle }}{{- end -}} </title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

	<meta name="msapplication-TileColor" content="#0166cc">
	<meta name="theme-color" content="#ffffff">

	<meta name="viewport" content="width=1120">
	<link rel="icon" href="{{ "favicon.svg" | relURL }}" type="image/svg+xml">
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{- template "_internal/opengraph.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

	{{- $normalize := resources.FromString "css/normalize.css" (readFile "static/css/normalize.css") | fingerprint "sha384" -}}
	{{- $main := resources.FromString "css/main.css" (readFile "static/css/main.css") | fingerprint "sha384" -}}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ $normalize.RelPermalink }}" integrity="{{ $normalize.Data.Integrity }}" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ $main.RelPermalink }}" integrity="{{ $main.Data.Integrity }}" />

	{{ range .Site.Params.custom_css -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}

	{{- if and (isset .Site.Params "social") (isset .Site.Params "feathericonscdn") (eq .Site.Params.featherIconsCDN true) -}}
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	{{- else if (isset .Site.Params "social") -}}
	<script src={{ "js/feather.min.js" | relURL }}></script>
	{{- end -}}
	<script src={{ "js/main.js" | relURL }}></script>
</head>
