<div class="header">
	<a href={{ "/" | relURL }} class="profile-home-link" aria-label="Go to About page">
		<img src={{ "images/prof.png" | relURL }} alt="Alexander Demin" class="profile_image">
	</a>
	<h1 class="site-title"><a href={{ "/" | relURL }} class="home-title-link">{{ .Site.Title }}</a></h1>
	{{- $contact := .Site.Params.contact -}}
	{{- if or $contact.email $contact.address_lines (isset .Site.Params "social") (.Site.Params.blog) (.Site.Params.cv_name) -}}
	<div class="profile-links">
		<nav class="nav social" aria-label="Contact information">
			<ul class="flat">
				{{- with $contact.email -}}
				<li>
					<a class="email" href="mailto:{{ . }}" title="Email">
						<i data-feather="mail"></i>
						<span>{{ . }}</span>
					</a>
				</li>
				{{- end -}}
				{{- range $index, $key := .Site.Params.Social -}}
				<li>
					<a href="{{ $key.url }}" title="{{ $key.name }}">
						<i data-feather="{{ $key.icon }}"></i>
						<span>{{ $key.name }}</span>
					</a>
				</li>
				{{- end -}}
				{{- with .Site.Params.blog -}}
				<li><a href="{{ . }}"><span>Blog</span></a></li>
				{{- end -}}
				{{- with .Site.Params.cv_name -}}
				<li><a href="{{ . }}"><span>CV</span></a></li>
				{{- end -}}
				{{- range $contact.address_lines -}}
				<li class="contact-line">{{ . }}</li>
				{{- end -}}
			</ul>
		</nav>
	</div>

	{{- end -}}

</div>
